body {
    overflow: hidden;
    user-select: none;
    pointer-events: none;
}
.text {
    font-family: 'Lato', sans-serif;
    padding: 25px;
}

.warn {
    margin: auto;
    width: 60%;
}